lm-accounts-papi/src/main/mule/implementation-create-accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="implementation-create-accountsFlow" doc:id="75f9b346-6fbe-4888-ac79-d865b5cd7cae" >
		<set-variable value="#[payload.shippingAddress.countryIso]" doc:name="Set Variable" doc:id="2f046550-19ae-402e-8676-be6f7fa08e88" variableName="Iso"/>
		<http:request method="${requester-country.method}" doc:name="Request" doc:id="dca0e1aa-dcb1-4446-8bb6-6f62da20cbad" url="${requester-country.Url}" target="success">
			<http:headers ><![CDATA[#[output application/java
---
{
	"correlationId" : Mule::p('secure::requester-sfdc.correlationId'),
	"client_secret" : Mule::p('secure::requester-sfdc.client_secret'),
	"client_id" : Mule::p('secure::requester-sfdc.client_id')
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"isocode" : vars.Iso
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="66aba345-9f63-432f-ad65-1927f290ac4d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	name: payload.name,
	phone: payload.phone,
	fax: payload.fax,
	number: payload.number,
	email: payload.email,
	billingAddress:{
			street: payload.billingAddress.street,
			city: payload.billingAddress.city,
			state: payload.billingAddress.state,
			postalCode: payload.billingAddress.postalCode,
			country: vars.success.country	
	        },
shippingAddress:{
   		street: payload.shippingAddress.street,
		city: payload.shippingAddress.city,
		state: payload.shippingAddress.state,
		postalCode: payload.shippingAddress.postalCode,
		country: vars.success.country
   }


}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="${requester-sfdc.createmethod}" doc:name="Request" doc:id="12ec04a9-80bf-4c30-8243-01cbab24ff89" url="${requester-sfdc.createUrl}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"correlationId" : Mule::p('secure::requester-sfdc.correlationId'),
	"client_secret" : Mule::p('secure::requester-sfdc.client_secret'),
	"client_id" : Mule::p('secure::requester-sfdc.client_id')
}]]]></http:headers>
		</http:request>
		<error-handler ref="lm-common-error-handlerError_Handler" />
	</flow>
</mule>
