lm-mobile-accounts-xapi/src/main/mule/implementation-delete-accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="implementation-delete-accountsFlow" doc:id="92ac3394-70c2-421f-b7fb-318d051b69f9" >
		<http:request method="${requester.deletemethod}" doc:name="DELETE: /delete-account" doc:id="0660a6bf-f274-470b-a0b8-aa289a13cbed" url="${requester.deleteUrl}" sendCorrelationId="NEVER">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : Mule::p('secure::requester.client_secret'),
	"client_id" : Mule::p('secure::requester.client_id'),
	"correlationId" :Mule::p('secure::requester.correlationId')
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"accountid": attributes.uriParams.accountid
}]]]></http:uri-params>
		</http:request>
		<error-handler ref="lm-common-error-handlerError_Handler" />
	</flow>
</mule>
